{{> nav}}

<h3>Add a new toy</h3>
<input type="text" placeholder="Name" id="newToy--name">
<input type="number" min="0.01" step="0.01" max="2500" placeholder="Price" id="newToy--price">
<input type="text" placeholder="Short description" id="newToy--description">

<input type="text" placeholder="Link to an image" id="newToy--img">

<button id="saveToyBtn">Add toy to inventory</button>