{{> nav}}

<h3>Add a new toy</h3>
<input type="text" placeholder="Name">
<input type="number" min="0.01" step="0.01" max="2500" placeholder="Price">
{{!-- <input type="number" placeholder="Price"> --}}
<input type="text" placeholder="Short description">

<input type="text" placeholder="Link to an image">

<button>Add toy to inventory</button>